Package: sniffer-dbgsym
Package-Type: ddeb
Source: sniffer
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vladimir Mimikin <>
Installed-Size: 24
Depends: sniffer (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for sniffer
Build-Ids: 71f73c8dc94dce7cf7fcbe51da0e9cc9e1b6767d f9eeace6dc26c9995da5e2dc57f7d3fb71cedc16
