Source: sniffer
Section: unknown
Priority: optional
Maintainer: Vladimir Mimikin <>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage:

Package: sniffer
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cli app for packet sniffing
