Source: sniffer
Section: utils
Priority: optional
Maintainer: Vladimir Mimikin <vladimirmimikin@gmail.com>
Build-Depends: debhelper-compat (= 11), gcc, make
Standards-Version: 4.1.4

Package: sniffer
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cli app for udp packet sniffing
  contains 2 executables
