Source: sniffer
Section: utils
Priority: optional
Maintainer: Vladimir Mimikin <>
Build-Depends: debhelper (>=11~)
            make,
            gcc,
            debuild

Standards-Version: 4.1.4

Package: sniffer
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cli app for udp packet sniffing
